# Binaries for programs and plugins
*.exe

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# skip all vendor packages
vendor/

# visual studio code settings
.vscode
.vs
